@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "NexaHeavy";
    src: url(/static/fonts/Nexa-Heavy.ttf);
}
@font-face {
    font-family: "NexaLight";
    src: url(/static/fonts/Nexa-ExtraLight.ttf);
}

body{
    min-height: 100vh;
    background-color: black;
}
.font-heavy{
    font-family: 'NexaHeavy';
}
.font-light{
    font-family: 'NexaLight';
}